

@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body{
  font-family: "Tajawal", sans-serif;
}
.Noto {
    font-family: "Noto Nastaliq Urdu", serif;
}

h1, h2 {
font-weight: 700; /* عنوان رئيسي */
}

#intro {
font-weight: 60; /* نص عادي */
}

/* شكل معين للنقاط الاساسية */
.service-title {
    position: relative;
    padding-right: 25px; /* مساحة للشكل */
  }
  
  .service-title::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0.4em;
    width: 12px;
    height: 12px;
    background-color: #D2B48C; /* بني فاتح */
    transform: rotate(45deg);
    opacity: 0;
    animation: fadeSlideIn 1s ease-out forwards;
  }

.bani-square {
  width: 200px;
  height: 200px;
  background-color: #9A7B47; /* This is a beige or "bani" color */
}

.card-cover {
  min-height: 500px; /* Ensures all cards have same height */
}


.card-img-top {
  transition: opacity 0.3s ease;
  opacity: 0.8;
  position: relative;
}

.card:hover .card-img-top {
  opacity: 1;
}

.read-more {
  display: none; /* default: hidden */
  margin-top: 10px;
  color: #fff;
  background-color: #9A7B47;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.card:hover .read-more {
  display: inline-block;
}

.read-more:hover {
  color: rgb(0, 0, 0);
}
.always-visible {
  display: inline-block !important;
}





  
  /* تعريف الأنيميشن */
  @keyframes fadeSlideIn {
    from {
      transform: translateX(10px) rotate(45deg);
      opacity: 0;
    }
    to {
      transform: translateX(0) rotate(45deg);
      opacity: 1;
    }
  }
  
  